---
- name: Configure VM
  hosts: youcef-vm
  become: yes
  become_method: sudo
  tasks:
    - name: copy repository
      synchronize:
      #path ou se trouve mon playbook
        src: "~/devCloud/project/postgres_ansible"
      #path a la racine de ma VM
        dest: ./
    - name: installing apt-packages
      apt: name={{ item }} update_cache=yes state=latest
      with_items:
        - python-pip
        - python3-pip
        - postgresql
      vars:
        ansible_python_interpreter: /usr/bin/python3
    - name: install flask
      pip:
        name: flask
        state: latest
    - name: install psycopg2
      pip:
        name: psycopg2-binary
        state: latest
    - name: install requests
      pip:
        name: requests
        state: latest
    - name: install python-dotenv
      pip:
        name: python-dotenv
        state: latest
    - name: Installation des packages python sur pip3
      pip:
        name: 
          - psycopg2-binary
          - Flask
        executable: pip3
    - name: create user
      become: yes
      become_user: postgres
      postgresql_user:
        name: "youcef"
        password: "pw"
        role_attr_flags: "CREATEDB,NOSUPERUSER"
    - name: create database
      become: yes
      become_user: postgres
      postgresql_db:
        name: "test_ansible"
        owner: "youcef"
    - name: Execute script app
      command: python3 ./postgres_ansible/app.py
...
